@charset "utf-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }
.my-container{
	text-align: center;
	font-family: 'Monteserrat', sans-serif;
	font-size:	55px;
	color: rgba(66,130,107,1.00)
}
.my-vision{
	color: rgba(47,121,106,1.00);
	text-align: center;
	margin-bottom: 7px;
    margin-left: 40px;
	margin-right:  40px;
	margin-top:  7px;
	padding: 1px;
	font-family: 'Montserrat', sans-serif;	
}
.header{
	color: white;
	background-image: url("../images/header wb-02.jpg");
    text-align: center;
	background-size: contain;
	background-position:100% 50%;
	height: 250px !important
}
.mission{
	color:  rgba(64,148,137,1.00);
	text-align: center;
	margin-bottom: 7px;
    margin-left: 40px;
	margin-right:  40px;
	margin-top:  7px;
	padding: 1px;
	font-family: 'Montserrat', sans-serif;
}
.footer{
	background-image: url("../images/footer wb-02.jpg");
	background-size: contain;
	height: 250px !important;
}
.style{
	color:rgba(66,130,107,1.00);
    text-align: center;	
}
.contact-header{
    color: rgba(66,130,107,1.00);
    font-weight: bold;
    font-size: x-large;
}
.team{
    color: rgba(47,121,106,1.00);
	text-align: center;
	margin-bottom: 7px;
    margin-left: 40px;
	margin-right:  40px;
	margin-top:  7px;
	padding: 1px;
	font-family: 'Montserrat', sans-serif;
}
.products{
	 color: rgba(47,121,106,1.00);
	 text-align: left;
}
.headertext{
	text-align: center;
	color: rgba(47,121,106,1.00);
	font-family: 'Montserrat', sans-serif;
}
.Test1 {
    padding: 25px 25px 50px 25px;
    color: rgba(47,121,106,1.00);
    text-align: center;
}

.Test1 p{
    text-align: center;
    color:rgba(47,121,106,1.00);
    font-size: 28px;
    margin-top: 10px;
}
img.welcome  {
    width: 700px;
    height: 500px;
}

img.product  {
    width: 300px;
    height: 300px;
}

img.contact  {
    width: 300px;
    height: 300px;
}
.carousel-indicators{
	color:rgba(47,121,106,1.00);
	width: auto;
}
.sr-only {
	color:rgba(47,121,106,1.00);
}.color-contactform {
    color: #717171;
}
.carousel-caption {
	color:rgba(47,121,106,1.00);
	position: absolute !important;
	font-size: 50px;
}
.carousel-inner {
	align-content: center;
	width: 500px;
}
